/*
.Main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-content-box {
  width: 600px;
  max-width: 90%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

*/
.nav {
    overflow: hidden;
  
    
  }
  
  /* Navbar links */
  .nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Links - change color on hover */
  .nav a:hover {
    background-color: rgb(51, 73, 56);
    color: black;
  }
  ul{
    list-style-type: none;
    margin: 0;
    padding: 10px;
    float: center;
    overflow: hidden;
    

  }
  li{
    float: Left;
   
  }

li a{
  display: block;
  color: white;
  text-align:center;
  padding: 16px;
  text-decoration: none;
  border-radius: 10%;
}

li a:hover {
  background-color: #111111;
}
#nav-bar {
  background-color: black;
  padding: 20px;
  border: 2px;
  border-radius: 20%;
}
.big-container {
  display: flex;
  
}
.first-div{
  width: 40%;
  padding: 20px;
  float: left;
  background-color: black;
  
}
.first-div img{
  width: 500px;
  height: auto;
}
.second-div{
  background-color: rgb(51, 73, 56);
  float: right;
  width:60%;
  padding: 0px;
  
}
#about{
  color: white;
  padding: 20px;
}
header{
  margin-top: 100px;
  padding: 20px;
}
header h1, header p{
  color: white;
}
.site-footer {
  background-color: black;
  color: #eee;
  padding: 40px 0;
  font-family: 'Arial', sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  flex-wrap: wrap;
}

.footer-about h3 {
  margin: 0 0 10px;
  font-size: 1.5em;
  color: #fff;
}

.footer-about p {
  margin: 0;
  font-size: 0.9em;
  color: white;
}

.footer-links {
  display: flex;
  flex-direction: column;
}





.footer-social a {
  margin-right: 10px;
}

.footer-social img {
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(1);
  transition: transform 0.3s;
}

.footer-social img:hover {
  transform: scale(1.2);
}
